:root {
    --background-color: hsl(0, 0%, 100%);
    --secondary-background-color: hsl(0, 0%, 92%);
    --ntnu-color: hsl(210, 100%, 31%);
    --main-text-color: hsl(0, 0%, 0%);
    --secondary-text-color: hsl(0, 0%, 100%);
    --main-text-color-faded: hsla(0, 0%, 0%, 0.62);
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: 'Open Sans', sans-serif;
}